Source: ayttm
Section: net
Priority: optional
Maintainer: Chris Halls <halls@debian.org>
Build-Depends: debhelper (>> 4.0.0), libaudiofile-dev, libesd0-dev | libesd-alsa0-dev, libglib1.2-dev, libgtk1.2-dev, libgdk-pixbuf-dev, xlibs-dev, flex, bison, libpspell-dev, libltdl3-dev, libgpgme-dev, libssl-dev, gettext
Standards-Version: 3.6.1

Package: ayttm
Architecture: any
Depends: ${shlibs:Depends}
Suggests:
Replaces: everybuddy, everybuddy-cvs
Provides: everybuddy
Description: Universal Instant Messaging Client
 Ayttm is an instant messaging (aka chat) client that provides all-in-one chat
 functionality for several major instant messaging services from one simple
 program. Ayttm "Contacts" allow you to refer to several accounts of the same
 person from a single contact name, making it one of the cleanest and simplest
 clients to use.
 .
 Ayttm is the heir of the Everybuddy project, and aims to continue improving
 the program and addressing its shortcomings. The primary goal is to provide a
 messenger which is :
 .
  * simple: Ayttm should work nicely without having to first go through a
    complicated configuration procedure. The preferences should be simple and
    minimal.
  * stable: Ayttm should not crash when you use it.
  * intuitive: Ayttm should be almost instantly usable by your mother ;)
  * flexible: Ayttm supports multiple protocols and they should be supported in
    an integrated manner (common interface, for example), without limiting
    protocol-specific features support. Ayttm currently handles Yahoo!, MSN,
    Jabber, IRC, AIM and ICQ. 
 .
 It also features support for file transfers, group chat, MSN GnomeMeeting
 integration, tabbed chat, smiley themes, status tooltips, conversation logging,
 automatic translation, GPG signing/encryption, typing notifications, spell
 checking and import of contacts from other clients.
 .
 For more information, see http://ayttm.sourceforge.net
